* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: 1px solid var(--third-color) !important; /* To Improve the Accessibility   */
  /* box-shadow: 0 0 5px #000; */
}
:root {
  --primary-color: #03001c;
  --secondary-color: #ededed;
  --third-color: #7f8487;
  --fine-black: #121213;
}
body {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.nav-btn {
  background-color: var(--third-color);
}
.brand-img {
  width: 25px;
  margin-right: 4px;
}
.navbar {
  background-color: #0f172b;
}
.add-task-input {
  width: 620px;
  height: 4em;
}

.tasks-header {
  border-bottom: 1px solid var(--secondary-color);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.task {
  position: relative;
  width: 600px;
  background-color: var(--secondary-color);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  border-radius: 8px;
  box-shadow: "0px 2px 5px rgba(0, 0, 0, 0.1)";
  transition: "box-shadow borderLeft 0.3s ease";
}
.task span {
  word-break: break-all;
}
.task--dark {
  color: #03001c;
  background-color: #ededed;
}
.task--light {
  color: #ededed;
  background-color: var(--fine-black);
}
.task-body {
  overflow-wrap: break-word;
}

.footer {
  position: absolute;
  bottom: 0vh;
}

.task:hover {
  border-left: 8px solid #84848b;
  transition: "border-left 0.3s ease";
}
.editAndDelBtn {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr)); */
  display: flex;
}

.app--dark {
  background-color: var(--primary-color);
}
.app--light {
  background-color: var(--secondary-color);
}

.header-light {
  background-color: #252d42;
}

/*=============================== Forms Validation and design ========================  */
.form-con {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  max-width: 38rem;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 7px;
}

.form-con h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

.form-con .form-group {
  margin-bottom: 20px;
}

.form-con,
.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-bottom: 5px;
  color: #555;
}

.form-con input[type="text"],
.form-con input[type="email"],
.form-con input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1em;
}

.input-error {
  outline: 3px solid #dc3545 !important;
}

.form-con,
.login-form .error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.form-con .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-con .btn-primary:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.form-con .btn-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.login-form {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
}
.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1em;
  margin-bottom: 15px;
}

/* =======================Responsiveness=========================== */

@media (max-width: 710px) {
  .add-task-input {
    max-width: 400px;
  }

  .tasks-header {
    width: 90%;
    max-width: 400px;
  }

  .task {
    width: 90%;
    max-width: 400px;
    font-size: 15px;
  }
  .editAndDelBtn {
    /* display: grid; */
    flex-direction: column;
  }
  .task-edit-input {
    width: 90%;
    max-width: 300px;
  }
  .form-con,.login-form {
    top: 0;
    height: 100%;
  }
}


